body {
  font-size: 16px;
  
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid black;
}



.navbar-brand {
  margin-bottom: 10px;
}

.navbar-brand h1 { /* Food LLc */
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  line-height: .75;
}



#nav-list li{
  background-color: white;
  border: 1px solid black;
  color: black;
  text-align: center;
  font-weight: bold;
  border-radius: 0;

}




.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1.5px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */
section{
  background-color: gray;
}
#main{
  margin-right:auto;
    margin-left:auto;
    margin-bottom: 15px;
}
.main-title{
  font-weight: bold;
  color: black;
  
}
.menu-item{
  font-weight: bold; 
  padding-top: 10px;
  font-size: 20px;
color: black;
}
p{
  font-weight:600;
  font-size: .9em;
  padding: 20px ;
  color: black;
  }


